USE [NHAHANG_DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[display_order] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[combo_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[combo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboDetail]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboDetail](
	[combo_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[combo_id] [bigint] NOT NULL,
	[dish_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[combo_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[dish_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[category_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dish_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationLog]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationLog](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_id] [bigint] NOT NULL,
	[action] [nvarchar](50) NOT NULL,
	[action_time] [datetime2](7) NOT NULL,
	[details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [bigint] NOT NULL,
	[table_id] [bigint] NOT NULL,
	[employee_id] [bigint] NULL,
	[order_time] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[order_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[dish_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[is_gift] [bit] NOT NULL,
	[combo_id] [bigint] NULL,
	[status] [nvarchar](20) NOT NULL,
	[cancel_reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [bigint] NOT NULL,
	[employee_id] [bigint] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[hour_discount] [decimal](10, 2) NOT NULL,
	[voucher_discount] [decimal](10, 2) NOT NULL,
	[final_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[payment_time] [datetime2](7) NOT NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[voucher_code] [nvarchar](50) NULL,
	[discount_value] [decimal](10, 2) NULL,
	[is_percent] [bit] NULL,
	[expiry_date] [datetime2](7) NULL,
	[max_usage] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceSession]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceSession](
	[session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[table_id] [bigint] NOT NULL,
	[num_people] [int] NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 5/15/2025 12:26:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[table_id] [bigint] IDENTITY(1,1) NOT NULL,
	[floor] [int] NOT NULL,
	[table_number] [nvarchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0)) FOR [is_gift]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF_OrderDetail_Status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0.00)) FOR [hour_discount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0.00)) FOR [voucher_discount]
GO
ALTER TABLE [dbo].[ComboDetail]  WITH CHECK ADD  CONSTRAINT [FK_ComboDetail_Combo] FOREIGN KEY([combo_id])
REFERENCES [dbo].[Combo] ([combo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComboDetail] CHECK CONSTRAINT [FK_ComboDetail_Combo]
GO
ALTER TABLE [dbo].[ComboDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_ComboDetail_Menu] FOREIGN KEY([dish_id])
REFERENCES [dbo].[Menu] ([dish_id])
GO
ALTER TABLE [dbo].[ComboDetail] CHECK CONSTRAINT [FK_ComboDetail_Menu]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Category]
GO
ALTER TABLE [dbo].[OperationLog]  WITH CHECK ADD  CONSTRAINT [FK_OperationLog_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperationLog] CHECK CONSTRAINT [FK_OperationLog_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_ServiceSession] FOREIGN KEY([session_id])
REFERENCES [dbo].[ServiceSession] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_ServiceSession]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([table_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Combo] FOREIGN KEY([combo_id])
REFERENCES [dbo].[Combo] ([combo_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Combo]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetail_Menu] FOREIGN KEY([dish_id])
REFERENCES [dbo].[Menu] ([dish_id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Menu]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Employee]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Promotion]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_ServiceSession] FOREIGN KEY([session_id])
REFERENCES [dbo].[ServiceSession] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_ServiceSession]
GO
ALTER TABLE [dbo].[ServiceSession]  WITH CHECK ADD  CONSTRAINT [FK_ServiceSession_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ServiceSession] CHECK CONSTRAINT [FK_ServiceSession_Promotion]
GO
ALTER TABLE [dbo].[ServiceSession]  WITH CHECK ADD  CONSTRAINT [FK_ServiceSession_Table] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([table_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceSession] CHECK CONSTRAINT [FK_ServiceSession_Table]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD CHECK  (([discount_percent]>=(0)))
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[ComboDetail]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([role]='MANAGER' OR [role]='KITCHEN' OR [role]='COUNTER'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_employee_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_employee_status]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD CHECK  (([status]='UNAVAILABLE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status_New] CHECK  (([status]='SERVED' OR [status]='PROCESSING' OR [status]='PENDING' OR [status]='CANCELLED'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Status_New]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetail_Status] CHECK  (([status]='PENDING' OR [status]='PROCESSING' OR [status]='SERVED' OR [status]='CANCELLED'))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK_OrderDetail_Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='E_WALLET' OR [payment_method]='CARD' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([type]='VOUCHER' OR [type]='HOUR'))
GO
ALTER TABLE [dbo].[ServiceSession]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='PENDING_PAYMENT' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD CHECK  (([status]='PAID' OR [status]='PENDING_PAYMENT' OR [status]='SERVING' OR [status]='RESERVED' OR [status]='AVAILABLE' OR [status]='CLEANING'))
GO

-- Cập nhật dữ liệu cũ: Thay EMPTY thành AVAILABLE và PAID thành CLEANING
UPDATE [dbo].[Table] SET [status] = 'AVAILABLE' WHERE [status] = 'EMPTY';
UPDATE [dbo].[Table] SET [status] = 'CLEANING' WHERE [status] = 'PAID';
GO
