USE [NHAHANG_DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[display_order] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[combo_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[discount_percent] [decimal](5, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[combo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboDetail]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboDetail](
	[combo_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[combo_id] [bigint] NOT NULL,
	[dish_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[combo_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[dish_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[category_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dish_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationLog]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationLog](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_id] [bigint] NOT NULL,
	[action] [nvarchar](50) NOT NULL,
	[action_time] [datetime2](7) NOT NULL,
	[details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [bigint] NOT NULL,
	[table_id] [bigint] NOT NULL,
	[employee_id] [bigint] NULL,
	[order_time] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[order_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[dish_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[is_gift] [bit] NOT NULL,
	[combo_id] [bigint] NULL,
	[status] [nvarchar](20) NOT NULL,
	[cancel_reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [bigint] NOT NULL,
	[employee_id] [bigint] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[hour_discount] [decimal](10, 2) NOT NULL,
	[voucher_discount] [decimal](10, 2) NOT NULL,
	[final_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[payment_time] [datetime2](7) NOT NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[start_time] [datetime2](7) NULL,
	[end_time] [datetime2](7) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[voucher_code] [nvarchar](50) NULL,
	[discount_value] [decimal](10, 2) NULL,
	[is_percent] [bit] NOT NULL,
	[max_usage] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[order_minimum] [decimal](10, 2) NOT NULL,
	[scope_type] [nvarchar](20) NOT NULL,
	[target_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceSession]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceSession](
	[session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[table_id] [bigint] NOT NULL,
	[num_people] [int] NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 5/29/2025 7:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[table_id] [bigint] IDENTITY(1,1) NOT NULL,
	[floor] [int] NOT NULL,
	[table_number] [nvarchar](10) NOT NULL,
	[capacity] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [code], [name], [display_order], [status]) VALUES (1, N'1', N'Khai vị và Ăn kèm', 0, N'ACTIVE')
INSERT [dbo].[Category] ([category_id], [code], [name], [display_order], [status]) VALUES (2, N'2', N'Thịt bò', 0, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([employee_id], [name], [role], [username], [password], [status]) VALUES (1, N'Sỳ Hưng', N'COUNTER', N'syhung', N'123', N'ACTIVE')
INSERT [dbo].[Employee] ([employee_id], [name], [role], [username], [password], [status]) VALUES (2, N'Trần Long', N'KITCHEN', N'long', N'123', N'ACTIVE')
INSERT [dbo].[Employee] ([employee_id], [name], [role], [username], [password], [status]) VALUES (3, N'Thành', N'MANAGER', N'thanh', N'123', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([dish_id], [name], [price], [status], [image_url], [category_id]) VALUES (1, N'Salad Cá hồi', CAST(90000.00 AS Decimal(10, 2)), N'AVAILABLE', N'/resources/images/menu/1747929508386_60017509_saladtom_1.jpg', 1)
INSERT [dbo].[Menu] ([dish_id], [name], [price], [status], [image_url], [category_id]) VALUES (2, N'Salad mùa xuân', CAST(80000.00 AS Decimal(10, 2)), N'AVAILABLE', N'/resources/images/menu/1747929570975_60017509_saladtom_1.jpg', 1)
INSERT [dbo].[Menu] ([dish_id], [name], [price], [status], [image_url], [category_id]) VALUES (3, N'Há cảo truyền thống Hàn Quốc', CAST(80000.00 AS Decimal(10, 2)), N'AVAILABLE', N'/resources/images/menu/1747929653690_60000131_ha_cao_tt_1.jpg', 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [session_id], [table_id], [employee_id], [order_time], [status], [notes]) VALUES (1, 1, 1, NULL, CAST(N'2025-05-22T23:06:51.6560000' AS DateTime2), N'SERVED', NULL)
INSERT [dbo].[Order] ([order_id], [session_id], [table_id], [employee_id], [order_time], [status], [notes]) VALUES (2, 2, 1, NULL, CAST(N'2025-05-22T23:54:11.6770000' AS DateTime2), N'SERVED', NULL)
INSERT [dbo].[Order] ([order_id], [session_id], [table_id], [employee_id], [order_time], [status], [notes]) VALUES (3, 2, 1, NULL, CAST(N'2025-05-22T23:54:24.1190000' AS DateTime2), N'SERVED', NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([order_detail_id], [order_id], [dish_id], [quantity], [price], [is_gift], [combo_id], [status], [cancel_reason]) VALUES (1, 1, 1, 1, CAST(90000.00 AS Decimal(10, 2)), 0, NULL, N'SERVED', NULL)
INSERT [dbo].[OrderDetail] ([order_detail_id], [order_id], [dish_id], [quantity], [price], [is_gift], [combo_id], [status], [cancel_reason]) VALUES (2, 1, 2, 1, CAST(80000.00 AS Decimal(10, 2)), 0, NULL, N'SERVED', NULL)
INSERT [dbo].[OrderDetail] ([order_detail_id], [order_id], [dish_id], [quantity], [price], [is_gift], [combo_id], [status], [cancel_reason]) VALUES (10002, 2, 1, 1, CAST(90000.00 AS Decimal(10, 2)), 0, NULL, N'SERVED', NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [session_id], [employee_id], [total_amount], [hour_discount], [voucher_discount], [final_amount], [payment_method], [payment_time], [promotion_id]) VALUES (1, 1, 2, CAST(170000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(170000.00 AS Decimal(10, 2)), N'CASH', CAST(N'2025-05-22T23:34:00.0040000' AS DateTime2), NULL)
INSERT [dbo].[Payment] ([payment_id], [session_id], [employee_id], [total_amount], [hour_discount], [voucher_discount], [final_amount], [payment_method], [payment_time], [promotion_id]) VALUES (2, 2, 2, CAST(500000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)), N'CASH', CAST(N'2025-05-23T02:18:55.3860000' AS DateTime2), NULL)
INSERT [dbo].[Payment] ([payment_id], [session_id], [employee_id], [total_amount], [hour_discount], [voucher_discount], [final_amount], [payment_method], [payment_time], [promotion_id]) VALUES (3, 3, 2, CAST(170000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(170000.00 AS Decimal(10, 2)), N'CASH', CAST(N'2025-05-23T02:19:12.1860000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([promotion_id], [name], [start_time], [end_time], [discount_percent], [voucher_code], [discount_value], [is_percent], [max_usage], [status], [order_minimum], [scope_type], [target_id]) VALUES (5, N'lễ', CAST(N'2025-06-06T07:30:00.0000000' AS DateTime2), CAST(N'2025-06-10T23:00:00.0000000' AS DateTime2), CAST(20.00 AS Decimal(5, 2)), N'happy20', NULL, 1, 2, N'ACTIVE', CAST(200000.00 AS Decimal(10, 2)), N'ALL', NULL)
INSERT [dbo].[Promotion] ([promotion_id], [name], [start_time], [end_time], [discount_percent], [voucher_code], [discount_value], [is_percent], [max_usage], [status], [order_minimum], [scope_type], [target_id]) VALUES (8, N'Khai Trương', CAST(N'2025-06-06T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-10T00:00:00.0000000' AS DateTime2), NULL, N'SYHUNG50', CAST(50000.00 AS Decimal(10, 2)), 0, 2, N'ACTIVE', CAST(200000.00 AS Decimal(10, 2)), N'ALL', NULL)
INSERT [dbo].[Promotion] ([promotion_id], [name], [start_time], [end_time], [discount_percent], [voucher_code], [discount_value], [is_percent], [max_usage], [status], [order_minimum], [scope_type], [target_id]) VALUES (9, N'Giảm 15% cho danh mục Khai vị', NULL, NULL, CAST(15.00 AS Decimal(5, 2)), N'KHAIVI15', NULL, 1, 100, N'ACTIVE', CAST(0.00 AS Decimal(10, 2)), N'CATEGORY', 1)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceSession] ON 

INSERT [dbo].[ServiceSession] ([session_id], [table_id], [num_people], [start_time], [status], [promotion_id]) VALUES (1, 1, 1, CAST(N'2025-05-22T23:06:51.6030000' AS DateTime2), N'COMPLETED', NULL)
INSERT [dbo].[ServiceSession] ([session_id], [table_id], [num_people], [start_time], [status], [promotion_id]) VALUES (2, 1, 1, CAST(N'2025-05-22T23:54:11.6380000' AS DateTime2), N'COMPLETED', NULL)
INSERT [dbo].[ServiceSession] ([session_id], [table_id], [num_people], [start_time], [status], [promotion_id]) VALUES (3, 3, 1, CAST(N'2025-05-23T02:16:19.0250000' AS DateTime2), N'COMPLETED', NULL)
SET IDENTITY_INSERT [dbo].[ServiceSession] OFF
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([table_id], [floor], [table_number], [capacity], [status]) VALUES (1, 1, N'1', 2, N'CLEANING')
INSERT [dbo].[Table] ([table_id], [floor], [table_number], [capacity], [status]) VALUES (2, 1, N'2', 4, N'AVAILABLE')
INSERT [dbo].[Table] ([table_id], [floor], [table_number], [capacity], [status]) VALUES (3, 1, N'3', 2, N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__357D4CF92C91CB6E]    Script Date: 5/29/2025 7:26:27 PM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__F3DBC572151F98A5]    Script Date: 5/29/2025 7:26:27 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0)) FOR [is_gift]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [DF_OrderDetail_Status]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0.00)) FOR [hour_discount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0.00)) FOR [voucher_discount]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [is_percent]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0.00)) FOR [order_minimum]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ('ALL') FOR [scope_type]
GO
ALTER TABLE [dbo].[ComboDetail]  WITH CHECK ADD  CONSTRAINT [FK_ComboDetail_Combo] FOREIGN KEY([combo_id])
REFERENCES [dbo].[Combo] ([combo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComboDetail] CHECK CONSTRAINT [FK_ComboDetail_Combo]
GO
ALTER TABLE [dbo].[ComboDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_ComboDetail_Menu] FOREIGN KEY([dish_id])
REFERENCES [dbo].[Menu] ([dish_id])
GO
ALTER TABLE [dbo].[ComboDetail] CHECK CONSTRAINT [FK_ComboDetail_Menu]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Category]
GO
ALTER TABLE [dbo].[OperationLog]  WITH CHECK ADD  CONSTRAINT [FK_OperationLog_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperationLog] CHECK CONSTRAINT [FK_OperationLog_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_ServiceSession] FOREIGN KEY([session_id])
REFERENCES [dbo].[ServiceSession] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_ServiceSession]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([table_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Combo] FOREIGN KEY([combo_id])
REFERENCES [dbo].[Combo] ([combo_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Combo]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetail_Menu] FOREIGN KEY([dish_id])
REFERENCES [dbo].[Menu] ([dish_id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Menu]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Employee]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Promotion]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_ServiceSession] FOREIGN KEY([session_id])
REFERENCES [dbo].[ServiceSession] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_ServiceSession]
GO
ALTER TABLE [dbo].[ServiceSession]  WITH CHECK ADD  CONSTRAINT [FK_ServiceSession_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ServiceSession] CHECK CONSTRAINT [FK_ServiceSession_Promotion]
GO
ALTER TABLE [dbo].[ServiceSession]  WITH CHECK ADD  CONSTRAINT [FK_ServiceSession_Table] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([table_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceSession] CHECK CONSTRAINT [FK_ServiceSession_Table]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD CHECK  (([discount_percent]>=(0)))
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[ComboDetail]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_employee_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_employee_status]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([role]='MANAGER' OR [role]='KITCHEN' OR [role]='COUNTER'))
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD CHECK  (([status]='UNAVAILABLE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status_New] CHECK  (([status]='SERVED' OR [status]='PROCESSING' OR [status]='PENDING' OR [status]='CANCELLED'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Status_New]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetail_Status] CHECK  (([status]='PENDING' OR [status]='PROCESSING' OR [status]='SERVED' OR [status]='CANCELLED'))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK_OrderDetail_Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='E_WALLET' OR [payment_method]='CARD' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([scope_type]='ALL' AND [target_id] IS NULL OR [scope_type]<>'ALL' AND [target_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([discount_percent] IS NOT NULL AND [discount_value] IS NULL OR [discount_percent] IS NULL AND [discount_value] IS NOT NULL))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([order_minimum]>=(0)))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([scope_type]='ALL' OR [scope_type]='CATEGORY' OR [scope_type]='DISH'))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[ServiceSession]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='PENDING_PAYMENT' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD  CONSTRAINT [CHK_Table_Status_New] CHECK  (([status]='CLEANING' OR [status]='PENDING_PAYMENT' OR [status]='SERVING' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Table] CHECK CONSTRAINT [CHK_Table_Status_New]
GO
